<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | CodingLab</title>
    <link rel="stylesheet" th:href="@{../css/login-css.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="shortcut icon" th:href="@{../icons/laugh.ico}"/>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="flex-div">
            <div class="name-content">
                <h1 class="logo">Facebook</h1>
                <p>Connect with friends and the world around you on Facebook.</p>
            </div>
            <form th:action="@{/login}" method="post">
                <input type="email" id="username" name="username" placeholder="Email or Phone Number" required />
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button class="login">Log In</button>
                <a th:href="@{/forgot-password}">Forgot Password?</a>
                <hr>
                <a class="create-account" th:href="@{/registration}">Create New Account</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
