<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../css/home-css.css}">
    <link rel="shortcut icon" th:href="@{../icons/donut.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Donut</title>
    <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar">
    <div class="nav-left">
        <a th:href="@{/user-page}" title="Home">
            <img class="logo" src="img/logo.png" alt="Logo">
        </a>
        <ul class="navlogo">
            <li>
                <img src="img/notification.png" id="notification-icon" onclick="toggleNotifications()">
                <span id="notification-count" class="badge badge-danger" th:text="${pendingRequests.size()}">0</span>
                <div id="notification-dropdown" class="notification-dropdown">
                    <div id="notification-items">
                        <!-- Thymeleaf loop to display friend requests -->
                        <div th:each="request : ${pendingRequests}" class="notification-item">
                            <img th:src="@{${request.user1.avatar}}" alt="User">
                            <div class="notification-text">
                                <p th:text="${request.user1.fullname + ' sent you a friend request'}">User sent you a
                                    friend request</p>
                                <div class="notification-actions">
                                    <form id="acceptForm" th:action="@{/acceptFriend}" method="post">
                                        <input type="hidden" name="requestId" th:value="${request.id}"/>
                                        <button type="button" onclick="acceptFriendRequest(this)">Accept</button>
                                    </form>

                                    <form id="rejectForm" th:action="@{/cancelFriend}" method="post">
                                        <input type="hidden" name="userId1" th:value="${request.user1.id}"/>
                                        <input type="hidden" name="userId2" th:value="${currentUser.id}"/>
                                        <button type="button" onclick="rejectFriendRequest(this)">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        <li><img src="img/inbox.png"></li>
        <li><img src="img/video.png"></li>
        </ul>
    </div>
    <div class="nav-right">
        <div class="search-box">
            <img src="img/search.png" alt="">
            <input type="text" placeholder="Search">
        </div>
        <div class="profile-image online" onclick="UserSettingToggle()">
            <img th:src="@{${user.avatar}}" alt="Profile Picture">
        </div>
    </div>
    <!-- Keep the user-settings dropdown unchanged -->
    <div class="user-settings">
        <div class="profile-darkButton">
            <div class="user-profile">
                <img th:src="@{${user.avatar}}" alt="Profile Picture">
                <div>
                    <p th:text="${user.fullname}"></p>
                    <a th:href="@{/user-wall}">See your profile</a>
                </div>
            </div>
            <div id="dark-button" onclick="darkModeON()">
                <span></span>
            </div>
        </div>
        <hr>
        <div class="user-profile">
            <img src="img/feedback.png" alt="">
            <div>
                <p> Give Feedback</p>
                <a href="#">Help us to improve</a>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="img/setting.png" alt="" class="settings-icon">
            <a th:href="@{/profile}" class="edit-profile">Settings & Privacy <img src="img/arrow.png" alt=""></a>
        </div>
        <div class="settings-links">
            <img src="img/help.png" alt="" class="settings-icon">
            <a href="#">Help & Support <img src="img/arrow.png" alt=""></a>
        </div>
        <div class="settings-links">
            <img src="img/Display.png" alt="" class="settings-icon">
            <a href="#">Display & Accessibility <img src="img/arrow.png" alt=""></a>
        </div>
        <div class="settings-links">
            <img src="img/logout.png" alt="" class="settings-icon">
            <a th:href="@{/logout}" class="logout">Logout <img src="img/arrow.png" alt=""></a>
        </div>
    </div>
</nav>


<!-- content-area------------ -->

<div class="container">
    <div class="left-sidebar">
        <div class="user-profile">
            <img th:src="@{${user.avatar}}" alt="Avatar">
            <p th:text="${user.fullname}"></p>
        </div>
        <br>
        <div class="important-links">
            <a href="#"><img src="img/news.png" alt="">Latest News</a>
            <a href="#"><img src="img/friends.png" alt="">Friends</a>
            <a href="#"><img src="img/group.png" alt="">Groups</a>
            <a href="#"><img src="img/marketplace.png" alt="">Marketplace</a>
            <a href="#"><img src="img/watch.png" alt="">Watch</a>
            <a href="#">See More</a>
        </div>

        <div class="shortcut-links">
            <p>Your Shortcuts</p>
            <a href="#"> <img src="img/shortcut-1.png" alt="">Web Developers</a>
            <a href="#"> <img src="img/shortcut-2.png" alt="">Web Design Course</a>
            <a href="#"> <img src="img/shortcut-3.png" alt="">Full Stack Development</a>
            <a href="#"> <img src="img/shortcut-4.png" alt="">Website Experts</a>
        </div>
    </div>

    <!-- main-content------- -->

    <div class="content-area">
        <div class="story-gallery">
            <div class="story story1">
                <img th:src="@{${user.avatar}}" alt="Profile Picture">
                <p>Post Story</p>
            </div>
            <div class="story story2">
                <img src="img/member-1.png" alt="">
                <p>Alison</p>
            </div>
            <div class="story story3">
                <img src="img/member-2.png" alt="">
                <p>Jackson</p>
            </div>
            <div class="story story4">
                <img src="img/member-3.png" alt="">
                <p>Samona</p>
            </div>
            <div class="story story5">
                <img src="img/member-4.png" alt="">
                <p>John</p>
            </div>
        </div>

        <div class="write-post-container">
            <div class="user-profile">
                <img th:src="@{${user.avatar}}" alt="Profile Picture">
                <div>
                    <p th:text="${user.fullname}"></p>
                    <small>Public <i class="fas fa-caret-down"></i></small>
                </div>
            </div>
            <div class="post-upload-textarea">
                <textarea name="" placeholder="What's on your mind?" id="" cols="30" rows="3"></textarea>
                <div class="add-post-links">
                    <a href="#"><img src="img/live-video.png" alt="">Live Video</a>
                    <a href="#"><img src="img/photo.png" alt="">Photo/Video</a>
                    <a href="#"><img src="img/feeling.png" alt="">Feeling Activity</a>
                </div>
                <br>
                <button type="button" class="btn btn-primary post-button" onclick="postContent()">Post</button>
            </div>
        </div>
        <div class="status-field-container write-post-container">
            <div class="user-profile-box">
                <div class="user-profile">
                    <img th:src="@{${user.avatar}}" alt="Profile Picture">
                    <div>
                        <p th:text="${user.fullname}"></p>
                        <small>July 17 2024, 10:18AM</small>
                    </div>
                </div>
                <div>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </div>
            <div class="status-field">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                    laborum nihil accusantium odit laboriosam, sed sit autem! <a
                            href="#">#This_Post_is_Better!!!!</a></p>
                <img src="img/feed-image-1.png" alt="">

            </div>
            <div class="post-reaction">
                <div class="activity-icons">
                    <div><img src="img/like-blue.png" alt="">200</div>
                    <div><img src="img/comments.png" alt="">52</div>
                    <div><img src="img/share.png" alt="">35</div>
                </div>
                <div class="post-profile-picture">
                    <img src="" alt=""> <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="status-field-container write-post-container">
            <div class="user-profile-box">
                <div class="user-profile">
                    <img src="img/profile-pic.png" alt="">
                    <div>
                        <p>Alex Carry</p>
                        <small>August 13 1999, 09.18 pm</small>
                    </div>
                </div>
                <div>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </div>
            <div class="status-field">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                    laborum nihil accusantium odit laboriosam, sed sit autem! <a
                            href="#">#This_Post_is_Bigger!!!!</a></p>
                <img src="img/feed-image-2.png" alt="">

            </div>
            <div class="post-reaction">
                <div class="activity-icons">
                    <div><img src="img/like-blue.png" alt="">120</div>
                    <div><img src="img/comments.png" alt="">52</div>
                    <div><img src="img/share.png" alt="">35</div>
                </div>
                <div class="post-profile-picture">
                    <img src="" alt=""> <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="status-field-container write-post-container">
            <div class="user-profile-box">
                <div class="user-profile">
                    <img src="" alt="">
                    <div>
                        <p>Alex Carry</p>
                        <small>August 13 1999, 09.18 pm</small>
                    </div>
                </div>
                <div>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </div>
            <div class="post-reaction">
                <div class="activity-icons">
                    <div><img src="img/like-blue.png" alt="">120</div>
                    <div><img src="img/comments.png" alt="">52</div>
                    <div><img src="img/share.png" alt="">35</div>
                </div>
                <div class="post-profile-picture">
                    <img src="" alt=""> <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="status-field-container write-post-container">
            <div class="user-profile-box">
                <div class="user-profile">
                    <img src="img/profile-pic.png" alt="">
                    <div>
                        <p>Alex Carry</p>
                        <small>August 13 1999, 09.18 pm</small>
                    </div>
                </div>
                <div>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </div>
            <div class="post-reaction">
                <div class="activity-icons">
                    <div><img src="img/like-blue.png" alt="">120</div>
                    <div><img src="img/comments.png" alt="">52</div>
                    <div><img src="img/share.png" alt="">35</div>
                </div>
                <div class="post-profile-picture">
                    <img src="" alt=""> <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
        <button type="button" class="btn-LoadMore" onclick="LoadMoreToggle()">Load More</button>
    </div>

    <!-- sidebar------------ -->
    <div class="right-sidebar">
        <div class="heading-link">
            <h4>Your page</h4>
            <a href="">See All</a>
        </div>

        <div class="events">
            <div class="left-event">
                <h4>13</h4>
                <span>August</span>
            </div>
            <div class="right-event">
                <h4>Social Media</h4>
                <p><i class="fas fa-map-marker-alt"></i> Wisdom em Park</p>
                <a href="#">More Info</a>
            </div>
        </div>
        <div class="events">
            <div class="left-event">
                <h4>18</h4>
                <span>January</span>
            </div>
            <div class="right-event">
                <h4>Mobile Marketing</h4>
                <p><i class="fas fa-map-marker-alt"></i> Wisdom em Park</p>
                <a href="#">More Info</a>
            </div>
        </div>
        <!-- Add Friend -->
        <div class="heading-link">
            <h4>Suggest a friend request</h4>
        </div>
        <div class="user-list-container">
            <div th:each="tempUser : ${users}">
                <div th:if="${not #strings.contains(tempUser.role, 'ADMIN')} and ${tempUser.id} != ${currentUser.id}"
                     class="online-list">
                    <div class="online">
                        <img th:src="@{${tempUser.avatar}}" alt="avatar">
                    </div>
                    <p th:text="${tempUser.fullname}">User Name</p>
                    <form th:action="@{/addFriend/{userId1}/{userId2}(userId1=${currentUser.id}, userId2=${tempUser.id})}"
                          method="post" style="display:inline;">
                        <button class="btn btn-primary pull-right" type="submit" onclick="toggleFriendRequest(this)">Add
                            Friend
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chat window -->
<div class="chat-window-container" id="chat-window-container">
    <div class="chat-header" onclick="toggleChatWindow()">
        <span id="chat-friend-name">Chat</span>
        <span id="chat-toggle-icon" class="toggle-icon">+</span>
    </div>
    <div class="chat-content" id="chat-content">
        <div class="chat-messages" id="chat-messages"></div>
        <div class="chat-input-container">
            <input type="text" id="chat-input" placeholder="Type a message">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>
<footer id="footer">
    <p>&copy; Copyright 2021 - Social book All Rights Reserved</p>
</footer>
<script th:inline="javascript">

</script>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>
