<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"/>
    <link rel="shortcut icon" th:href="@{../icons/boy.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            background: #f2f2f2; /* Thay đổi màu nền thành xám trắng */
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #6c757d; /* Thay đổi màu viền khi focus */
        }

        .profile-button {
            background: #6c757d; /* Thay đổi màu nút */
            box-shadow: none;
            border: none;
        }

        .profile-button:hover {
            background: #495057; /* Thay đổi màu nền nút khi di chuột */
        }

        .profile-button:focus {
            background: #495057; /* Thay đổi màu nền nút khi focus */
            box-shadow: none;
        }

        .profile-button:active {
            background: #495057; /* Thay đổi màu nền nút khi nhấn */
            box-shadow: none;
        }

        .back:hover {
            color: #495057; /* Thay đổi màu chữ khi di chuột */
            cursor: pointer;
        }

        .labels {
            font-size: 11px;
            color: #495057; /* Thay đổi màu chữ cho các nhãn */
        }

        .add-experience:hover {
            background: #6c757d; /* Thay đổi màu nền khi di chuột */
            color: #fff;
            cursor: pointer;
            border: solid 1px #6c757d; /* Thay đổi màu viền khi di chuột */
        }
    </style>
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
    <form action="#" th:action="@{save}" th:object="${user}" method="post" enctype="multipart/form-data"> <!-- Đây là form -->
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px"
                             th:src="@{${user.avatar}}"
                             alt="avatar">
                        <span class="font-weight-bold" th:text="${user.fullname}"></span>
                        <span class="text-black-50" th:text="${user.email}"></span>
                        <span> </span>
                        <input type="file" id="avatarFile" name="avatarFile" onchange="previewAvatar(this)">
                    </div>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <input type="hidden" th:field="*{id}">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Information</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Name</label><input th:field="*{fullname}"
                                                                                        type="text" class="form-control"
                                                                                        placeholder="Name" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email</label><input th:field="*{email}" type="text"
                                                                                         class="form-control"
                                                                                         placeholder="enter phone number"
                                                                                         value=""></div>
                        <div class="col-md-12">
                            <label class="labels">Password</label>
                            <!-- Hiển thị trường mật khẩu có sẵn nhưng không cho phép chỉnh sửa -->
                            <input th:field="*{password}" type="password" class="form-control" readonly>
                        </div>
                        <!-- Thêm nút "Change Password" để hiển thị trường nhập mật khẩu mới -->
                        <div class="mt-3 text-center">
                            <button type="button" class="btn btn-primary profile-button" onclick="showChangePassword()">
                                Change Password
                            </button>
                        </div>
                        <!-- Thêm trường nhập mật khẩu mới và xác nhận mật khẩu mới, mặc định ẩn đi -->
                        <div id="changePasswordFields" style="display: none;">
                            <div class="col-md-12 mt-3">
                                <label class="labels">New Password</label>
                                <input id="newPassword" type="password" class="form-control" placeholder="New Password">
                            </div>
                            <div class="col-md-12 mt-3">
                                <label class="labels">Confirm New Password</label>
                                <input id="confirmNewPassword" type="password" class="form-control"
                                       placeholder="Confirm New Password">
                            </div>
                        </div>
                        <div class="col-md-12"><label class="labels">Role</label><input th:field="*{role}" type="hidden"
                                                                                        class="form-control"
                                                                                        placeholder="enter address line 2"
                                                                                        value="" readonly></div>
                        <div class="col-md-12"><label class="labels">Phone Number:</label><input th:field="*{phone}"
                                                                                                 type="text"
                                                                                                 class="form-control"
                                                                                                 placeholder="enter phone number"
                                                                                                 value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input th:field="*{country}"
                                                                                          type="text"
                                                                                          class="form-control"
                                                                                          placeholder="country"
                                                                                          value="">
                        </div>
                        <div class="col-md-6"><label class="labels">City</label><input th:field="*{city}" type="text"
                                                                                       class="form-control" value=""
                                                                                       placeholder="city"></div>
                    </div>
                    <div class="mt-5 text-center">
                        <input class="btn btn-primary profile-button" type="submit" value="Save">
                        <a class="btn btn-primary profile-button" href="/user-page">Back to home</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i
                            class="fa fa-plus"></i>&nbsp;Experience</span>
                    </div>
                    <br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                                                                                                       class="form-control"
                                                                                                       placeholder="experience"
                                                                                                       value=""></div>
                    <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  placeholder="additional details"
                                                                                                  value=""></div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function showChangePassword() {
        var changePasswordFields = document.getElementById("changePasswordFields");
        if (changePasswordFields.style.display === "none") {
            changePasswordFields.style.display = "block";
        } else {
            changePasswordFields.style.display = "none";
        }
    }
    function previewAvatar(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(input).siblings('img')  // Đổi đoạn này
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>
